html{
    direction: rtl;
}

.nav .contact i span a {
    margin-right: 35px;
}
.about__flex,
.Home,
.buttom,
.career__rev{
    background: linear-gradient(-106.65deg, rgba(255, 255, 255, 0.4) -2.73%, rgba(255, 255, 255, 0) 65.25%);
    padding-right: 0px;
    padding-left: 0px;
}
.about__flex ul,
.about__flex ul,
.about__flex p{
    padding-left: 0px;
    padding-right: 25px;
}
.landing section .img {
    padding-right: 40px;
    padding-bottom: 0px;
}
.career__left{
    background: linear-gradient(106.65deg, rgba(255, 255, 255, 0.4) -2.73%, rgba(255, 255, 255, 0) 65.25%);
    padding-left: 0px !important;
}
.tab__content{
    text-align: right;
}
.apps__links img{
    height: 40px;
    margin: 20px 0px 0px 30px;
}
form label {
    right: 0px;
}
.label{
    right: 25px;
}
form div::after{
    right: 2px;
}
form div::before{
    left: 3px;
}
.error{
    text-align: right;
}
.list{
    margin-right: 40px;
}
.orededList{
    padding-right: 0px;
}


.text h1,.text h2, .text p{
    text-align: right !important;
}



form div::before {
    width: calc(100% - 120px) !important;
    right: 117px !important;
}
form div.arphonee::before{
    width: calc(100% - 130px) !important;
    right: 126px !important;
    top: 0px !important;
}

@media (max-width:1020px) {
    .career .info{
        padding-right: 15px;
    }
    .career__left{
        padding-left: 15px;
    }
}

@media (max-width: 992px) {
    .text h1,.text h2, .text p{
        text-align: center !important;
    }
    .hiden {
        right: -100%;
    }

    .hiden2 {
        left: 100%;
    }
    .visible {
        left: 0;
    }
    .visible2{
        right: 0 !important;
    }
    main .buttom{
        text-align: right;
    }
}
@media (max-width:930px) {
    .career .info{
        text-align: right;
    }
    .career .img {
        width: 95% !important;
        padding: 0px !important;
        height: fit-content !important;
        overflow: hidden;
        border-radius: 20px;
    }
    .career .img img {
        width: 100% !important;
        height: fit-content !important;
        text-align: center;
        border-radius: 20px !important;
        padding: 0px !important;
        margin: 0px !important;
        margin-top: 0px !important;
        margin: auto !important;
    }
    .career__rev {
        padding-left: 0px;
        flex-direction: column-reverse !important;
    }

    
    .career .img img.iimg{
        width: 100% !important;
    }

}
.buttom{
    padding-left: 0px;
    padding-right: 35px;
}
.buttom li,
.buttom p{
    line-height: 30px;
}
.return{
    padding-right: 0px !important;
    margin-right:  0px !important;
    padding-left: 10px !important;
    font-size: 50px;
}
.landing .about__flex .info p.homeDec,
.landing .about__flex .info p.homeDec2{
    padding-right: 0px !important;
}
